<div id="page" class="container">
  <div id="header">
    <div id="logo">
      <img src="static/images/pic03.jpg" style='max-height:100px' alt="" />
      <h1><a href="#">E-residency</a></h1>
    </div>
    <div id="menu">
      <ul>
        <li class="current_page_item"><a href="#welcome" accesskey="1" title=""><%= t('homepage') %></a></li>
        <li><a href="#services" accesskey="2" title=""><%= t('services') %></a></li>
        <li><a href="#why" accesskey="4" title=""><%= t('why_us') %></a></li>
        <li><a href="#price" accesskey="5" title=""><%= t('prices') %></a></li>
        <li><a href="#contacts" accesskey="3" title=""><%= t('contacts') %></a></li>
      </ul>
    </div>
    <div class="dropdown show">
  <a class="btn btn-secondary dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= locale %>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <%= link_to "English", { :locale=>'en' }, class: "dropdown-item", style: "padding-left: 5px;"%>
    <%= link_to "Russian", { :locale=>'ru' }, class: "dropdown-item" %>
    <%= link_to "Ukrainian", { :locale=>'ua'}, class: "dropdown-item" %>
  </div>
</div>
  </div>
  <div id="main">
    <div id="banner">
      <img src="static/images/pic03.jpg" alt="" class="image-full" />
    </div>
    <div id="welcome">
      <% @article_items.each do |article| %>
        <div class="title">
          <h2><%= article.title %></h2>
          <!-- <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span> -->
        </div>
        <div class='text'>
          <%= article.body.html_safe %>
        </div>
      <% end %>
    </div>
    <div id="services">
      <div class="title" style='margin-bottom:initial'>
        <h2><%= t('services') %></h2>
        <span class="byline"></span>
      </div>
      <ul class="style1 services">
        <% @service_items.each do |service| %>
          <li>
            <!-- <p class="date"><a href="#">Jan<b>05</b></a></p> -->
            <h3><%= service.service_name %></h3>
            <!-- <p><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante.</a></p> -->
          </li>
        <% end %>
      </ul>
    </div>
    <% if @company_types.count > 0 %>
    <div id='#'>
      <div class="title">

      </div>

      <div class='text'>

        <table class="table table-hover table-inverse companies">
          <thead>
            <tr>
              <th style='text-align: -webkit-left;'>Форма предпринимательской деятельности</th>
              <th>Минимально необходимый начальный капитал (EUR)</th>
              <th>Минимально необходимое число учредителей</th>
              <th>Имущественная ответственность</th>
              <th>Управление</th>
            </tr>
          </thead>
          <tbody>
            <% @company_types.each do |type| %>
              <tr>
                <th scope="row"><%= type.form %></th>
                <td><%= type.capital %></td>
                <td><%= type.heads %></td>
                <td><%= type.responsibility %></td>
                <td><%= type.management %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <p>Наиболее распространенные и простые формы: <strong>Товарищество с ограниченной ответственностью</strong>, <strong>Акционерное общество</strong></p>
      </div>
    </div>
    <% end %>
    <div id="why">
      <div class="title" style='margin-bottom:initial'>
        <h2><%= t('why_us') %></h2>
        <span class="byline"></span>
      </div>
      <div class='text' style='text-align: -webkit-auto;'>
        <%= @why_we.try(:text).try(:html_safe) %>
      </div>
    </div>

    <div id="price">
      <div class="title" style='margin-bottom:initial'>
        <h2><%= t('prices') %></h2>
        <span class="byline"></span>
      </div>
      <div class='text' style='text-align: -webkit-auto;'>
        <% @price_list.try(:each) do |item| %>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title"><%= item.try(:item) %></h3>
            </div>
            <div class="panel-body">
              <%= item.try(:description) %>
            </div>
          </div>
        <% end %>
      </div>
      <%= render 'list_of_plans' %>
    </div>

    <div id='contacts' style='margin-top:40px'>
      <div class='title'>
       <h2><%= t('contacts') %></h2>
      </div>

      <div class='text'>
        <%= render 'request_form'%>
        <div  style='margin-top:10%'>
            <div class="row text-center">
              <div class="col-sm-3 col-xs-3 first-box">
                  <h1><span class="glyphicon glyphicon-earphone"></span></h1>
                  <h3><%= t('phone') %></h3>
                  <p><a href="tel:<%=@contacts.try(:phone)%>"><%=@contacts.phone%></a></p><br>
              </div>
              <div class="col-sm-3 col-xs-3 second-box">
                  <h1><span class="glyphicon glyphicon-user"></span></h1>
                  <h3>Skype</h3>
                  <p><a href="skype:<%=@contacts.try(:skype)%>?chat"><%=@contacts.skype%></a></p><br>
              </div>
              <div class="col-sm-3 col-xs-3 third-box">
                  <h1><span class="glyphicon glyphicon-send"></span></h1>
                  <h3>E-mail</h3>
                  <p><%= mail_to @contacts.try(:mail) %></p><br>
              </div>
              <div class="col-sm-3 col-xs-3 fourth-box">
                <h1><span class="glyphicon glyphicon-comment"></span></h1>
                  <h3>Viber</h3>
                  <p><%=@contacts.try(:viber)%></p><br>
              </div>
            </div>
            <div class='row'>
              <div class='social'>
                <a class="btn btn-social-icon btn-lg btn-facebook" href='https://www.facebook.com/Erezidency/'>
                  <span class="fa fa-facebook"></span>
                </a>
                <a class="btn btn-social-icon btn-lg btn-vk" href='https://vk.com/club140605432'>
                  <span class="fa fa-vk"></span>
                </a>
                <a class="btn btn-social-icon btn-lg btn-odnoklassniki" href='https://ok.ru/group/54374910787837'>
                  <span class="fa fa-odnoklassniki"></span>
                </a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div id="copyright">
      <span style='text-transform: initial;font-size: 1em;'><%= @requisite.text.html_safe if @requisite %></span>
    </div>
  </div>
  </div>

</div>

<script>

$(document).ready(function(){
  indexMain();
})
</script>
